# Twitter数据爬取，清洗与分析

## 简介

我们将要整理 (以及分析和可视化) 的数据集是推特用户 @dog_rates 的档案, 推特昵称为 WeRateDogs。他以诙谐幽默的方式对人们的宠物狗评分。这些评分通常以 10 作为分母。但是分子则一般大于 10：11/10、12/10、13/10 等等。

WeRateDogs下载了他们的推特档案，并通过电子邮件发送给优达学城，专门为本项目使用。这个档案是基本的推特数据（推特 ID、时间戳、推特文本等），包含了截止到 2017 年 4 月 1 日的 5000 多条推特。


### 目标
清洗 WeRateDogs 推特数据，创建有趣且可靠的分析和可视化。<br/>
（但是这份推特档案只包含基本的推特信息。所以还需要收集额外的数据。）<br/>
<br/>
我们在这个项目中的任务如下：<br/>
数据整理，其中包括：<br/>
收集数据，评估数据，清洗数据。<br/>
对清洗过的数据进行储存、分析和可视化。<br/>
书面报告 (1) 数据整理工作 (2) 数据分析和可视化<br/>


### 步骤与细节

#### 1.数据收集
收集下面所述的三份数据：<br/>

1. WeRateDogs 的推特档案。这个数据文件是直接提供的，详见twitter_archive_enhanced.csv。
2. 推特图像的预测数据，这个文件你需要使用 Python 的 Requests 库和以下提供的 URL 来进行编程下载。
3. 每条推特的额外附加数据，要包含转发数（retweet_count）和喜欢数（favorite_count）这两列。推荐使用Twitter API。


#### 2.数据评估
收集上述三个数据集之后，使用目测评估和编程评估的方式，对数据进行质量和清洁度的评估。<br/>
完整地评估和清理整个数据集将需要大量时间，出于学习和实践的考虑，本项目只是评估和清理此数据集中的8个质量问题和2个整洁度问题。<br/>

#### 3.数据清洗
对你在评估时列出的每个问题进行清洗。展示清洗的过程,结果应该为一个优质干净整洁的主数据集（pandas DataFrame 类型）<br/>
根据整洁数据的规则要求，本项目的数据清理应该包括将三个数据片段进行合并。<br/>

#### 4.对项目数据进行存储、分析和可视化
将清理后的数据集存储到 CSV 文件中，命名为 twitter_archive_master.csv。如果有其他观察对象的数据集存在，需要多个表格，那么要给这些文件合理命名。<br/>
对清洗后的数据进行分析和可视化。生成至少 3 个见解和 1 个可视化。


#### 5.项目汇报
创建一个 300-600 字的书面报告，命名为 wrangle_report.pdf，在该报告中简要描述你的数据整理过程。这份报告可以看作是一份内部文档，供你的团队成员查看交流。<br/>

创建一个 250 字以上的书面报告，命名为 act_report.pdf，在该报告中，你可以与读者交流观点，展示你使用整理过的数据生成的可视化图表。这份报告可以看作是一份外部文档，如博客帖子或杂志文章。<br/>

#### 细节：

我们只需要含有图片的原始评级 (不包括转发)。尽管数据集中有 5000 多条数据，但是并不是所有都是狗狗评分，并且其中有一些是转发。<br/>
如果分子评级超过分母评级，不需要进行清洗。这个 特殊评分系统 是 WeRateDogs 人气度较高的主要原因。（同样，也不需要删除分子小于分母的数据）<br/>
不必收集 2017 年 8 月 1 日之后的数据，你可以收集到这些推特的基本信息，但是你不能收集到这些推特对应的图像预测数据，因为你没有图像预测算法的使用权限。<br/>
不要在项目提交中包含你的推特 API 密钥和访问令牌（可以用 * 号代替）。

### 以下我们开始进行具体操作
### 数据收集

In [1]:
#导入所需的包
import pandas as pd
import numpy as np
import requests
import json
import os

In [2]:
#解决数据展示时被折叠的问题
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth',150)

In [3]:
# 1.读取WeRateDogs的推特档案
df  = pd.read_csv('twitter-archive-enhanced.csv')

In [4]:
# 2.使用Python的Requests库和提供的URL来进行编程下载推特图像的预测数据
url          = 'https://raw.githubusercontent.com/udacity/new-dand-advanced-china/master/%E6%95%B0%E6%8D%AE%E6%B8%85%E6%B4%97/WeRateDogs%E9%A1%B9%E7%9B%AE/image-predictions.tsv'
predict_file = url.split('/')[-1]
response     = requests.get(url)

# 防止文件多次加载
if not os.path.exists(predict_file):
    with open(predict_file, mode ='wb') as file:
        file.write(response.content)
        
img_predictions = pd.read_csv(predict_file, sep = '\t')

In [5]:
# 3.加载每条推特的额外附加数据，包含转发数（retweet_count）和喜欢数（favorite_count）这两列
list_extra   = []
with open('tweet_json.txt', 'r') as file_extra: 
    for line in file_extra.readlines():

        data           = json.loads(line)
        tweet_id       = data['id']
        retweet_count  = data['retweet_count']
        favorite_count = data['favorite_count']

        list_extra.append({
            'tweet_id': tweet_id,
            'retweet_count' : retweet_count,
            'favorite_count': favorite_count
        })


df_extra = pd.DataFrame(list_extra, columns = ['tweet_id', 'retweet_count', 'favorite_count'])

### 数据评估

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df['source'].value_counts()

In [ ]:
df['name'].value_counts()

In [ ]:
df['text'].sample(3)

In [ ]:
df['timestamp'].sample(5)

In [ ]:
df['doggo'].value_counts()

In [ ]:
df[df['doggo'] != 'None'].sample(6)

In [ ]:
img_predictions.info()

In [ ]:
img_predictions.sample(5)

In [ ]:
img_predictions[img_predictions['p2_conf'] > 1]

In [ ]:
img_predictions['p3_dog'].value_counts()

In [ ]:
df_extra.info()

In [ ]:
df_extra.sample(5)

In [ ]:
df_extra['tweet_id'].duplicated().sum()

#### 数据质量问题
##### 档案文件的质量问题
<br/>

推特档案数据：
- 1.我们只需要含有图片的原始评级，存在转发的条目需要删除
- 2.多列数据缺失严重
- 3.source table: 数据需要提取，整理成Ipone客户端,Web客户端,VINE, tweet deck四个选项
- 4.评分的提取不太准确
- 5.name table: 有的name提取不正确
- 6.timestamp table : 数据类型转换为时间类型
- 7.有时同一条数据中， 含有多个狗的地位数据， 正常情况下只能有doggo，floofer，pupper，puppo 中的一个<br/>

额外附加数据：
- 8.我们需要将预测结果不是狗的数据删除，且p1的预测概率远远大于p2和p3, 含有p2,p3的数据列也需要删除

##### 数据整洁度问题

- 推特数据中，doggo，floofer，pupper，puppo栏应当删掉，建立新的地位栏，并填入每条所对应的'doggo	floofer	pupper	puppo'其中一个.  
- 三个文件需要合并到一个表格内，补充数据中的两个计数栏可以合并到推特数据中.

### 数据清洗

In [6]:
# 对原数据进行复制， 在复制数据中进行数据清洗，从而保留原数据的完整性
df_copy               = df.copy()
img_predictions_copy  = img_predictions.copy()
df_extra_copy         = df_extra.copy()

### 1. 我们只需要含有图片的原始评级，存在转发的条目需要删除

#### 如果retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp这三列中有非空值，说明是转发推特, 我们需要将该行删除<br/><br/>我们将依次提取出与转发相关的三列为空的行，完成筛选后，将这三列删除<br/><br/>最后，我们需要删掉不含有图片的行

In [19]:
df_copy[['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp']].sample(5)

      retweeted_status_id  retweeted_status_user_id retweeted_status_timestamp
285          8.389060e+17              8.117408e+08  2017-03-07 00:15:46 +0000
646                   NaN                       NaN                        NaN
434          8.203146e+17              4.196984e+09  2017-01-14 17:00:24 +0000
634          7.916723e+17              4.196984e+09  2016-10-27 16:06:04 +0000
1634                  NaN                       NaN                        NaN

#### 定义：依次提取出与转发相关的三列为空的行

#### 代码：

In [20]:
df_copy = df_copy[df_copy['retweeted_status_id'].isna() == True]
df_copy = df_copy[df_copy['retweeted_status_user_id'].isna() == True]
df_copy = df_copy[df_copy['retweeted_status_timestamp'].isna() == True]

#### 测试：

In [21]:
df_copy['retweeted_status_id'].value_counts()

Series([], Name: retweeted_status_id, dtype: int64)

In [22]:
df_copy['retweeted_status_user_id'].value_counts()

Series([], Name: retweeted_status_user_id, dtype: int64)

In [23]:
df_copy['retweeted_status_timestamp'].value_counts()

Series([], Name: retweeted_status_timestamp, dtype: int64)

此时，转发相关的三列，数据皆为空值

#### 定义：删除与转发相关的列

#### 代码：

In [24]:
df_copy.drop(['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'], axis=1, inplace=True)

#### 测试：

In [25]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 14 columns):
tweet_id                 2175 non-null int64
in_reply_to_status_id    78 non-null float64
in_reply_to_user_id      78 non-null float64
timestamp                2175 non-null object
source                   2175 non-null object
text                     2175 non-null object
expanded_urls            2117 non-null object
rating_numerator         2175 non-null int64
rating_denominator       2175 non-null int64
name                     2175 non-null object
doggo                    2175 non-null object
floofer                  2175 non-null object
pupper                   2175 non-null object
puppo                    2175 non-null object
dtypes: float64(2), int64(3), object(9)
memory usage: 254.9+ KB

此时，与转发相关的列已被删除

#### 定义：删掉不含有图片的行

#### 代码：

In [26]:
df_copy = df_copy[df_copy['expanded_urls'].isna() == False]

In [27]:
# 我们在删除一些行之后， 重建df_copy的索引
df_copy.reset_index(drop=True, inplace = True)

#### 测试：

In [28]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2117 entries, 0 to 2116
Data columns (total 14 columns):
tweet_id                 2117 non-null int64
in_reply_to_status_id    23 non-null float64
in_reply_to_user_id      23 non-null float64
timestamp                2117 non-null object
source                   2117 non-null object
text                     2117 non-null object
expanded_urls            2117 non-null object
rating_numerator         2117 non-null int64
rating_denominator       2117 non-null int64
name                     2117 non-null object
doggo                    2117 non-null object
floofer                  2117 non-null object
pupper                   2117 non-null object
puppo                    2117 non-null object
dtypes: float64(2), int64(3), object(9)
memory usage: 231.6+ KB

此时我们的数据，expanded_urls列下都含有数据

##### 2.多个列数据缺失严重

#### 定义：有数据较多缺失的列与核心数据分析关联不大，故我将‘in_reply_to_status_id’，‘in_reply_to_user_id’列删掉

#### 代码：

In [29]:
df_copy.drop(['in_reply_to_status_id', 'in_reply_to_user_id'], axis = 1, inplace = True)

#### 测试：

In [30]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2117 entries, 0 to 2116
Data columns (total 12 columns):
tweet_id              2117 non-null int64
timestamp             2117 non-null object
source                2117 non-null object
text                  2117 non-null object
expanded_urls         2117 non-null object
rating_numerator      2117 non-null int64
rating_denominator    2117 non-null int64
name                  2117 non-null object
doggo                 2117 non-null object
floofer               2117 non-null object
pupper                2117 non-null object
puppo                 2117 non-null object
dtypes: int64(3), object(9)
memory usage: 198.5+ KB

经检验，此时数据比较完整

##### 3. source栏数据需要提取成Ipone客户端,Web客户端,VINE, tweet deck四个选项

In [31]:
df_copy['source'].value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     1985
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       30
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

#### 定义：我们将标签Twitter for iPhone等从HTML格式内提取出来

#### 代码：

In [32]:
df_copy['source'] = df_copy['source'].str.strip('</a>').str.split('>').str[1]

#### 测试：

In [33]:
df_copy['source'].value_counts()

Twitter for iPhone     1985
Vine - Make a Scene      91
Twitter Web Client       30
TweetDeck                11
Name: source, dtype: int64

成功提取出文字选项

##### 4. 评分提取不太准确

In [34]:
df_copy['rating_denominator'].value_counts()

10     2099
50        3
11        2
80        2
7         1
170       1
150       1
130       1
120       1
110       1
90        1
70        1
40        1
20        1
2         1
Name: rating_denominator, dtype: int64

#### 定义：两栏的特殊值统计全是整数，未能提取text中浮点数评分， 我们重新建立新的提取规则

#### 代码：

In [35]:
numerator_ratings   = df_copy['text'].str.extract(r'((\d+(\.\d+)?\/))', expand=True)[0].str.strip('/')

In [36]:
denominator_ratings = df_copy['text'].str.extract(r'((\/\d+(\.\d+)?))', expand=True)[0].str.strip('/')

In [37]:
df_copy.loc[:, ['rating_numerator']]   = numerator_ratings

In [38]:
df_copy.loc[:, ['rating_denominator']] = denominator_ratings

In [39]:
# 把评分两栏从字符串类型 转化为浮点数类
df_copy[['rating_numerator', 'rating_denominator']] = df_copy[['rating_numerator', 'rating_denominator']].astype('float')

#### 测试：

In [40]:
df_copy['rating_numerator'].value_counts()

12.00      489
10.00      436
11.00      417
13.00      295
9.00       154
8.00        98
7.00        52
14.00       40
5.00        33
6.00        32
3.00        19
4.00        16
2.00         9
1.00         5
0.00         2
13.50        1
24.00        1
84.00        1
143.00       1
50.00        1
420.00       1
60.00        1
44.00        1
144.00       1
88.00        1
11.26        1
11.27        1
121.00       1
9.75         1
99.00        1
204.00       1
45.00        1
165.00       1
1776.00      1
80.00        1
Name: rating_numerator, dtype: int64

In [41]:
df_copy['rating_denominator'].value_counts()

10.0     2099
50.0        3
80.0        2
11.0        2
150.0       1
110.0       1
90.0        1
130.0       1
70.0        1
170.0       1
2.0         1
120.0       1
40.0        1
20.0        1
7.0         1
Name: rating_denominator, dtype: int64

提取浮点数成功

#### 定义：对分母不为10的行进行与text中原数据比对，校正

#### 代码：

In [42]:
df_copy[df_copy['rating_denominator'] == 2]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2096,666287406224695296,2015-11-16 16:11:11 +0000,Twitter for iPhone,This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,https://twitter.com/dog_rates/status/666287406224695296/photo/1,1.0,2.0,an,None,None,None,None

In [43]:
df_copy[df_copy['rating_denominator'] == 7]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
405,810984652412424192,2016-12-19 23:06:23 +0000,Twitter for iPhone,Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t ...,"https://www.gofundme.com/sams-smile,https://twitter.com/dog_rates/status/810984652412424192/photo/1",24.0,7.0,Sam,None,None,None,None

In [44]:
df_copy[df_copy['rating_denominator'] == 50]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
990,716439118184652801,2016-04-03 01:36:11 +0000,Twitter for iPhone,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,https://twitter.com/dog_rates/status/716439118184652801/photo/1,50.0,50.0,Bluebert,None,None,None,None
1061,709198395643068416,2016-03-14 02:04:08 +0000,Twitter for iPhone,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",https://twitter.com/dog_rates/status/709198395643068416/photo/1,45.0,50.0,None,None,None,None,None
1136,704054845121142784,2016-02-28 21:25:30 +0000,Twitter for iPhone,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,https://twitter.com/dog_rates/status/704054845121142784/photo/1,60.0,50.0,a,None,None,None,None

In [45]:
#手动修改几个提取错误的值
df_copy.iloc[2096,5:7] = 9, 10
df_copy.iloc[405,5:7]  = 0, 0
df_copy.iloc[990,5:7]  = 11, 10

#### 测试：

In [46]:
# 查看修改后的值，已无误
df_copy.iloc[2096, 5:7]

rating_numerator       9
rating_denominator    10
Name: 2096, dtype: object

In [47]:
df_copy.iloc[2096, 5]

9.0

此时，评分两栏的清洗基本完成

##### 5. name table: 有的name提取不正确

In [48]:
df_copy['name'].value_counts()

None              622
a                  55
Charlie            11
Lucy               11
Oliver             10
Cooper             10
Tucker              9
Penny               9
Sadie               8
Lola                8
the                 8
Winston             8
Toby                7
Daisy               7
an                  6
Bella               6
Jax                 6
Koda                6
Stanley             6
Bailey              6
Oscar               6
Bo                  6
Dave                5
Bentley             5
Scout               5
Rusty               5
Louis               5
Leo                 5
Buddy               5
Chester             5
Milo                5
Sammy               4
Larry               4
Finn                4
Jerry               4
Scooter             4
Gary                4
Duke                4
Reggie              4
Brody               4
Oakley              4
Cassie              4
Chip                4
one                 4
Winnie              4
Sophie              4
Clark               4
Jeffrey             4
Derek               4
Maggie              4
Dexter              4
Clarence            4
Phil                4
Alfie               4
George              4
Gus                 4
very                4
Archie              4
Boomer              4
Jack                4
Bear                4
Sebastian           3
Reginald            3
Steven              3
Wallace             3
Walter              3
Sunny               3
Hank                3
Reese               3
Riley               3
Zeke                3
Zoey                3
Moose               3
Rosie               3
Maximus             3
Earl                3
Vincent             3
Ted                 3
Wilson              3
Gizmo               3
Doug                3
Ruby                3
Nala                3
Otis                3
Jimothy             3
Shadow              3
Klevin              3
just                3
Samson              3
Beau                3
Louie               3
Loki                3
Bruce               3
Lily                3
Calvin              3
Gerald              3
Waffles             3
Olive               3
Carl                3
Luna                3
quite               3
Mia                 3
Wyatt               3
Malcolm             3
Kyle                3
Max                 3
Ellie               3
Yogi                2
Ollie               2
Watson              2
Atticus             2
Jackson             2
Hammond             2
Chet                2
Raymond             2
Maxaroni            2
Trooper             2
Ava                 2
Tyr                 2
Ozzy                2
Odie                2
Churlie             2
Baxter              2
Sampson             2
Marley              2
Hobbes              2
Remington           2
Sam                 2
Albus               2
Peaches             2
Phred               2
Solomon             2
Cody                2
Lincoln             2
Dash                2
Frankie             2
Colby               2
Lennon              2
Albert              2
Axel                2
Chipson             2
Opal                2
Paisley             2
Arnie               2
Franklin            2
Sansa               2
Finley              2
Abby                2
Linda               2
Benedict            2
Dakota              2
Pippa               2
Rory                2
Lou                 2
Keurig              2
Hunter              2
Piper               2
Eli                 2
Phineas             2
Rocky               2
Kilo                2
Sandy               2
Romeo               2
Kevin               2
Cupcake             2
getting             2
Django              2
Doc                 2
Benji               2
Charles             2
Coco                2
Cash                2
Belle               2
Theodore            2
Patrick             2
Curtis              2
Keith               2
Smokey              2
Flávio              2
Rufus               2
Maddie              2
Bob                 2
Calbert             2
Fred                2
Panda               2
Fiona               2
Roosevelt           2
Blitz               2
Wally               2
Griffin             2
Jiminy              2
Terry               2
Rocco               2
Alice               2
Herm                2
Ash                 2
Luca                2
Neptune             2
Lenny               2
CeCe                2
Indie               2
Coops               2
Kirby               2
Sarge               2
Elliot              2
Lorenzo             2
Bisquick            2
Mister              2
Frank               2
Pickles             2
Kreg                2
Atlas               2
Crystal             2
Herald              2
Chuckles            2
Bubbles             2
Jesse               2
Kreggory            2
Thumas              2
Kenneth             2
Juno                2
Penelope            2
Bernie              2
Layla               2
Jimison             2
Oshie               2
Oliviér             2
Harold              2
Aspen               2
Olivia              2
Moe                 2
Brad                2
Jeph                2
not                 2
actually            2
Gabe                2
Percy               2
Nelly               2
Sugar               2
Misty               2
Titan               2
Covach              1
Canela              1
Chloe               1
Bonaparte           1
Cedrick             1
Terrance            1
Griswold            1
Millie              1
Howie               1
Bluebert            1
BeBe                1
Vinscent            1
Hero                1
Ozzie               1
Loomis              1
Linus               1
Pumpkin             1
Lulu                1
Sunshine            1
unacceptable        1
Rontu               1
Ralf                1
Willy               1
Jangle              1
Rorie               1
Tyrus               1
Margo               1
Patch               1
Pilot               1
Amy                 1
Chesney             1
Juckson             1
Emmy                1
Koko                1
Lillie              1
Dudley              1
Spark               1
Astrid              1
Acro                1
Sprinkles           1
Rodman              1
Claude              1
Amber               1
Kenzie              1
Einstein            1
Jomathan            1
Glacier             1
Mimosa              1
Ferg                1
Buckley             1
Blue                1
Darla               1
Clifford            1
Grizz               1
Donny               1
Gidget              1
JD                  1
Lassie              1
Reptar              1
Dwight              1
my                  1
Bobble              1
Anthony             1
Autumn              1
Teddy               1
Oreo                1
Daniel              1
Sky                 1
Duddles             1
Snickers            1
Scott               1
Berb                1
Crouton             1
Godzilla            1
Glenn               1
Hurley              1
Kota                1
Jebberson           1
Balto               1
Rover               1
Bert                1
Rizzo               1
Lizzie              1
Kayla               1
Tycho               1
Holly               1
Goliath             1
Traviss             1
Chuq                1
Kawhi               1
Perry               1
Philippe            1
Tedrick             1
Suki                1
Herschel            1
Monkey              1
such                1
Scruffers           1
Shiloh              1
Heinrich            1
Lilah               1
Ben                 1
Arya                1
Pepper              1
Tuck                1
Kirk                1
Logan               1
Taz                 1
Rose                1
Oddie               1
Tayzie              1
Kallie              1
Tess                1
Yukon               1
Carll               1
Emanuel             1
Creg                1
Wafer               1
Rudy                1
Sweets              1
Jim                 1
Jareld              1
Sundance            1
Comet               1
Halo                1
Shaggy              1
Schnozz             1
Crimson             1
Caryl               1
Kloey               1
officially          1
Shakespeare         1
Rilo                1
Murphy              1
Kona                1
Mack                1
Nimbus              1
Jazzy               1
Aqua                1
Darrel              1
Poppy               1
Rufio               1
Brady               1
Mookie              1
all                 1
Zooey               1
life                1
Pinot               1
Brockly             1
Hall                1
Harrison            1
Doobert             1
Stubert             1
Gerbald             1
Zeus                1
Jockson             1
Chase               1
Chef                1
Brandy              1
Robin               1
Blipson             1
Diogi               1
Jay                 1
Bode                1
Ken                 1
Aubie               1
Theo                1
Alfy                1
Mairi               1
Pablo               1
Lugan               1
Levi                1
Brian               1
Blanket             1
Damon               1
Stephanus           1
Rizzy               1
Ike                 1
Kendall             1
Jazz                1
Lupe                1
Derby               1
Rhino               1
Apollo              1
Rolf                1
Kaia                1
Nico                1
Link                1
Jett                1
Mary                1
Beckham             1
Leonard             1
Iggy                1
Dante               1
Jerome              1
Lipton              1
Tino                1
Danny               1
Jiminus             1
Paull               1
Maya                1
Laela               1
Tassy               1
Ridley              1
his                 1
Mitch               1
Edgar               1
Willow              1
Rambo               1
Shawwn              1
Skittles            1
Wishes              1
Dunkin              1
Jamesy              1
Edd                 1
Willem              1
Bookstore           1
Banditt             1
Tug                 1
Jimbo               1
Harnold             1
Chompsky            1
Bowie               1
Betty               1
Dixie               1
Molly               1
River               1
Trevith             1
Klein               1
Evy                 1
Nigel               1
Jeremy              1
old                 1
Meyer               1
Dewey               1
Jessifer            1
Seamus              1
Julius              1
Mojo                1
Dutch               1
Aja                 1
Torque              1
Cheesy              1
Butters             1
Lilli               1
Timber              1
Cali                1
Ambrose             1
Storkson            1
Milky               1
Georgie             1
Gòrdón              1
Godi                1
Maude               1
Toffee              1
Lance               1
Hermione            1
infuriating         1
Darby               1
Flurpson            1
Mollie              1
Zara                1
Akumi               1
Wesley              1
Winifred            1
Stephan             1
Pupcasso            1
Hanz                1
Bubba               1
Monster             1
Superpup            1
Michelangelope      1
Meatball            1
Bronte              1
Fizz                1
Eriq                1
Orion               1
Naphaniel           1
Cleopatricia        1
Dook                1
Fletcher            1
Rueben              1
Jaycob              1
Andy                1
Katie               1
Major               1
Devón               1
Fillup              1
Butter              1
Anakin              1
Kanu                1
Stu                 1
Happy               1
Mona                1
Eazy                1
Joshwa              1
Tonks               1
Clyde               1
Boots               1
Ralphé              1
Jordy               1
Pavlov              1
Cora                1
Newt                1
Florence            1
Hercules            1
Bloo                1
Dotsy               1
Ester               1
Sojourner           1
Smiley              1
Divine              1
Billy               1
Brooks              1
Laika               1
Petrick             1
Malikai             1
Callie              1
Raphael             1
Craig               1
Jeb                 1
Sully               1
DonDon              1
Andru               1
Philbert            1
Marq                1
Barclay             1
Ralphy              1
Kulet               1
Lambeau             1
Charl               1
Roscoe              1
Charleson           1
Mauve               1
Lenox               1
Dallas              1
Jersey              1
Grizzwald           1
Beebop              1
Hazel               1
Mason               1
Marlee              1
Bones               1
Genevieve           1
incredibly          1
Mabel               1
Corey               1
Stewie              1
Bradley             1
Dido                1
Siba                1
Miley               1
Beya                1
Stuart              1
Boston              1
Goose               1
Sailer              1
Marty               1
Gert                1
Clybe               1
Hamrick             1
Rumble              1
Brutus              1
Al                  1
Erik                1
Kevon               1
Grizzie             1
Buddah              1
Gunner              1
Joey                1
Sandra              1
Colin               1
Dug                 1
Trip                1
Ralphson            1
Ralpher             1
Amélie              1
Fabio               1
Eve                 1
Gordon              1
Tater               1
Reagan              1
Pippin              1
Lucky               1
Alejandro           1
Maxwell             1
Tripp               1
Pluto               1
Cannon              1
Leela               1
Izzy                1
Noah                1
Skittle             1
Coopson             1
Shooter             1
Steve               1
Pawnd               1
Meera               1
Eevee               1
Augie               1
Arnold              1
light               1
Mattie              1
Sparky              1
Sora                1
Taco                1
Humphrey            1
William             1
Kingsley            1
Maks                1
Snicku              1
Ronnie              1
Bobbay              1
Gustav              1
Rooney              1
Hubertson           1
Ginger              1
Noosh               1
Timofy              1
Napolean            1
by                  1
Tyrone              1
mad                 1
Kramer              1
Chuck               1
Alf                 1
Champ               1
Thor                1
Iroh                1
Peanut              1
DayZ                1
Sierra              1
Leonidas            1
Monty               1
Zuzu                1
Filup               1
Frönq               1
Barry               1
Dale                1
Mo                  1
Fido                1
Livvie              1
Tommy               1
Arlen               1
Grady               1
Kathmandu           1
Socks               1
Strider             1
Chubbs              1
Snoop               1
Harvey              1
Opie                1
Jeffri              1
Blakely             1
Rubio               1
Adele               1
Bell                1
Franq               1
Jackie              1
Nugget              1
Furzey              1
Jennifur            1
Ace                 1
Pherb               1
Tilly               1
Ralphie             1
Carper              1
Huck                1
Finnegus            1
Sobe                1
Jed                 1
Birf                1
Cilantro            1
Zoe                 1
Chadrick            1
Bertson             1
Tom                 1
Swagger             1
Stella              1
Ember               1
Trigger             1
Venti               1
Sid                 1
Mike                1
Enchilada           1
Maisey              1
Fiji                1
Banjo               1
Tupawc              1
Odin                1
Alexander           1
Combo               1
Norman              1
Walker              1
Kobe                1
Lorelei             1
Geoff               1
Josep               1
Kyro                1
Herb                1
Ole                 1
Shadoe              1
Mya                 1
Tito                1
Carbon              1
Chevy               1
Terrenth            1
Sweet               1
Richie              1
Benny               1
Rodney              1
Remy                1
Ralphus             1
Tanner              1
Pip                 1
Ronduh              1
Ron                 1
Chesterson          1
Blu                 1
Saydee              1
Moreton             1
Aiden               1
Harper              1
Aldrick             1
Miguel              1
Burt                1
Biden               1
Mac                 1
Skye                1
Bilbo               1
Brat                1
Ricky               1
Tobi                1
Julio               1
Bobby               1
Shelby              1
Berkeley            1
Baron               1
Karl                1
Asher               1
Sage                1
Pubert              1
Olaf                1
Jarvis              1
Moofasa             1
Todo                1
Ashleigh            1
Marvin              1
Freddery            1
Gin                 1
Geno                1
Jonah               1
Pancake             1
Anna                1
Arlo                1
Lilly               1
Rumpole             1
Bruno               1
Timmy               1
Randall             1
Dawn                1
Spanky              1
Fynn                1
Luther              1
Kial                1
Nida                1
Rascal              1
Carter              1
Remus               1
Coleman             1
Vinnie              1
Bayley              1
Obie                1
Harry               1
Mark                1
Zeek                1
Barney              1
Kaiya               1
Vince               1
Angel               1
Dot                 1
Jessiga             1
Cuddles             1
Longfellow          1
Ito                 1
Crawford            1
Nollie              1
Cal                 1
Severus             1
Lacy                1
Alexanderson        1
Mutt                1
Beemo               1
Mosby               1
Jo                  1
Staniel             1
Brudge              1
Gilbert             1
Yoda                1
Stefan              1
Brandonald          1
Hector              1
Shnuggles           1
Samsom              1
Binky               1
Mingus              1
Rey                 1
Crumpet             1
Wiggles             1
Ed                  1
Ivar                1
Rinna               1
Bodie               1
Horace              1
Ralph               1
Baloo               1
Ziva                1
Ebby                1
Durg                1
Deacon              1
Sprout              1
Bloop               1
Dylan               1
Flash               1
Kellogg             1
space               1
Quinn               1
Jaspers             1
Pipsy               1
Spencer             1
Lili                1
Bungalo             1
Bobb                1
Christoper          1
Huxley              1
Schnitzel           1
Shikha              1
Simba               1
Ruffles             1
Karma               1
Batdog              1
Dobby               1
Keet                1
Cermet              1
Pete                1
Henry               1
Karll               1
this                1
Tove                1
Puff                1
Bruiser             1
Bradlay             1
Cecil               1
Kody                1
Snoopy              1
Vixen               1
Sailor              1
Clarkus             1
Eleanor             1
Kollin              1
Cheryl              1
Grey                1
Obi                 1
Gustaf              1
Chaz                1
Gromit              1
Chelsea             1
Willie              1

#### 定义： 将开头是小写的数据和None值删掉

#### 代码：

In [49]:
mask = (df_copy.name.str.islower())|(df_copy.name == 'None')
df_copy.loc[mask, 'name'] = np.nan

#### 测试：

In [50]:
df_copy['name'].value_counts()

Lucy              11
Charlie           11
Oliver            10
Cooper            10
Tucker             9
Penny              9
Winston            8
Lola               8
Sadie              8
Toby               7
Daisy              7
Bella              6
Oscar              6
Bailey             6
Jax                6
Koda               6
Stanley            6
Bo                 6
Scout              5
Leo                5
Buddy              5
Bentley            5
Dave               5
Rusty              5
Louis              5
Chester            5
Milo               5
Scooter            4
Alfie              4
Jeffrey            4
Bear               4
Finn               4
Boomer             4
Larry              4
Maggie             4
Dexter             4
Sammy              4
Clarence           4
Jerry              4
Derek              4
Cassie             4
Brody              4
Jack               4
Winnie             4
Gus                4
George             4
Reggie             4
Duke               4
Phil               4
Sophie             4
Archie             4
Clark              4
Chip               4
Gary               4
Oakley             4
Carl               3
Beau               3
Kyle               3
Ruby               3
Bruce              3
Sunny              3
Louie              3
Maximus            3
Wyatt              3
Earl               3
Walter             3
Max                3
Waffles            3
Riley              3
Loki               3
Gerald             3
Otis               3
Shadow             3
Reginald           3
Wallace            3
Reese              3
Hank               3
Moose              3
Gizmo              3
Vincent            3
Luna               3
Ted                3
Nala               3
Zeke               3
Jimothy            3
Steven             3
Malcolm            3
Zoey               3
Klevin             3
Olive              3
Lily               3
Wilson             3
Doug               3
Calvin             3
Samson             3
Ellie              3
Sebastian          3
Rosie              3
Mia                3
Remington          2
Ava                2
Rocky              2
Lenny              2
Eli                2
Phineas            2
Sandy              2
Peaches            2
Cupcake            2
Romeo              2
Maddie             2
Fred               2
Griffin            2
Kevin              2
Django             2
Smokey             2
Benji              2
Albus              2
Kilo               2
Watson             2
Ozzy               2
Tyr                2
Frankie            2
Mister             2
Hobbes             2
Hammond            2
Yogi               2
Jackson            2
Odie               2
Misty              2
Roosevelt          2
Trooper            2
Solomon            2
Keurig             2
Raymond            2
Piper              2
Sugar              2
Crystal            2
Dakota             2
Paisley            2
Sansa              2
Finley             2
Bernie             2
Abby               2
Arnie              2
Benedict           2
Franklin           2
Herald             2
Opal               2
Phred              2
Oliviér            2
Aspen              2
Pippa              2
Coco               2
Sampson            2
Keith              2
Linda              2
Kreggory           2
Colby              2
Ollie              2
Gabe               2
Theodore           2
Patrick            2
Cash               2
Lou                2
Belle              2
Lincoln            2
Hunter             2
Layla              2
Harold             2
Dash               2
Cody               2
Lennon             2
Albert             2
Axel               2
Chipson            2
Penelope           2
CeCe               2
Rory               2
Frank              2
Doc                2
Maxaroni           2
Neptune            2
Alice              2
Calbert            2
Bob                2
Flávio             2
Jiminy             2
Rocco              2
Jeph               2
Oshie              2
Jimison            2
Olivia             2
Kenneth            2
Thumas             2
Juno               2
Percy              2
Nelly              2
Ash                2
Herm               2
Chuckles           2
Coops              2
Kreg               2
Fiona              2
Charles            2
Panda              2
Blitz              2
Pickles            2
Rufus              2
Indie              2
Luca               2
Lorenzo            2
Terry              2
Sarge              2
Wally              2
Elliot             2
Kirby              2
Titan              2
Brad               2
Curtis             2
Churlie            2
Atlas              2
Moe                2
Sam                2
Chet               2
Bisquick           2
Jesse              2
Atticus            2
Baxter             2
Marley             2
Bubbles            2
Jangle             1
Dwight             1
Chesney            1
Reptar             1
Geno               1
Cedrick            1
Chuq               1
Loomis             1
Howie              1
Einstein           1
Lassie             1
Kallie             1
Emmy               1
Koko               1
Willy              1
Bert               1
Ferg               1
Lillie             1
Darla              1
Claude             1
Zuzu               1
Clifford           1
Mimosa             1
Bobble             1
Patch              1
Tess               1
Rontu              1
Blue               1
Emanuel            1
Traviss            1
Tycho              1
Sunshine           1
Bluebert           1
Scruffers          1
Shiloh             1
Sky                1
Hero               1
Lulu               1
Pepper             1
Cilantro           1
Seamus             1
Ralf               1
Daniel             1
Teddy              1
Autumn             1
Crouton            1
Rose               1
Oddie              1
Canela             1
Buckley            1
Kawhi              1
Chloe              1
Bonaparte          1
Glacier            1
BeBe               1
Gidget             1
Dudley             1
Kayla              1
Spark              1
Kota               1
JD                 1
Lizzie             1
Akumi              1
Heinrich           1
Sprinkles          1
Lilah              1
Ben                1
Arya               1
Jebberson          1
Tedrick            1
Tuck               1
Donny              1
Monkey             1
Ozzie              1
Kirk               1
Logan              1
Taz                1
Rodman             1
Amber              1
Amy                1
Rover              1
Tayzie             1
Godzilla           1
Berb               1
Holly              1
Oreo               1
Goliath            1
Terrance           1
Astrid             1
Anthony            1
Millie             1
Kenny              1
Glenn              1
Kenzie             1
Tyrus              1
Jomathan           1
Herschel           1
Suki               1
Philippe           1
Comet              1
Perry              1
Hurley             1
Margo              1
Duddles            1
Snickers           1
Vinscent           1
Scott              1
Juckson            1
Jeb                1
Grizz              1
Rizzo              1
Dot                1
Balto              1
Yukon              1
Julius             1
Crimson            1
Wafer              1
Rudy               1
Sweets             1
Jim                1
Jareld             1
Sundance           1
Halo               1
Shaggy             1
Creg               1
Schnozz            1
Caryl              1
Kloey              1
Shakespeare        1
Rilo               1
Gilbert            1
Kona               1
Mack               1
Wiggles            1
Diogi              1
Jazzy              1
Aqua               1
Bode               1
Doobert            1
Rufio              1
Brady              1
Mookie             1
Zooey              1
Pinot              1
Brockly            1
Hall               1
Poppy              1
Harrison           1
Stubert            1
Gerbald            1
Zeus               1
Genevieve          1
Jockson            1
Chase              1
Chef               1
Brandy             1
Robin              1
Blipson            1
Jay                1
Stephanus          1
Darrel             1
Kaia               1
Theo               1
Alfy               1
Mairi              1
Pablo              1
Lugan              1
Levi               1
Brian              1
Blanket            1
Ken                1
Damon              1
Rizzy              1
Ike                1
Kendall            1
Jazz               1
Lupe               1
Derby              1
Rhino              1
Burt               1
Rolf               1
Aubie              1
Nico               1
Mary               1
Link               1
Pherb              1
Leonard            1
Iggy               1
Dante              1
Jerome             1
Lipton             1
Clarkus            1
Danny              1
Jiminus            1
Paull              1
Maya               1
Laela              1
Tassy              1
Ridley             1
Mitch              1
Edgar              1
Willow             1
Jett               1
Dido               1
Rambo              1
Shawwn             1
Mojo               1
Jamesy             1
Willem             1
Bookstore          1
Banditt            1
Tug                1
Jimbo              1
Harnold            1
Wishes             1
Carll              1
Betty              1
Dixie              1
Molly              1
River              1
Linus              1
Trevith            1
Klein              1
Evy                1
Nigel              1
Jeremy             1
Hermione           1
Edd                1
Dunkin             1
Superpup           1
Bowie              1
Dutch              1
Aja                1
Torque             1
Cheesy             1
Butters            1
Lilli              1
Jessifer           1
Timber             1
Ambrose            1
Storkson           1
Milky              1
Georgie            1
Gòrdón             1
Godi               1
Maude              1
Toffee             1
Lance              1
Cali               1
Meyer              1
Darby              1
Katie              1
Dewey              1
Fletcher           1
Zara               1
Tito               1
Wesley             1
Winifred           1
Stephan            1
Pupcasso           1
Hanz               1
Bubba              1
Flurpson           1
Monster            1
Michelangelope     1
Meatball           1
Bronte             1
Fizz               1
Eriq               1
Orion              1
Naphaniel          1
Cleopatricia       1
Dook               1
Mollie             1
Rueben             1
Major              1
Jaycob             1
Devón              1
Fillup             1
Kramer             1
Anakin             1
Kanu               1
Stu                1
Happy              1
Mona               1
Tino               1
Eazy               1
Joshwa             1
Tonks              1
Clyde              1
Boots              1
Ralphé             1
Jordy              1
Pavlov             1
Cora               1
Andy               1
Pumpkin            1
Luther             1
Newt               1
Callie             1
Ester              1
Sojourner          1
Smiley             1
Divine             1
Billy              1
Brooks             1
Laika              1
Petrick            1
Malikai            1
Bloo               1
Craig              1
Humphrey           1
Sully              1
Andru              1
Philbert           1
Marq               1
Barclay            1
Ralphy             1
Kulet              1
Goose              1
Sailer             1
Marty              1
Dotsy              1
Lambeau            1
Raphael            1
Charl              1
Lenox              1
Dallas             1
Jersey             1
Grizzwald          1
Beebop             1
Hazel              1
Mason              1
Marlee             1
Bones              1
Charleson          1
Zoe                1
Mabel              1
Corey              1
Stewie             1
Bradley            1
Rorie              1
Siba               1
Miley              1
Beya               1
Stuart             1
Boston             1
Sandra             1
Maxwell            1
Tripp              1
Rumble             1
Al                 1
Erik               1
Kevon              1
Grizzie            1
Buddah             1
Gunner             1
Gert               1
Joey               1
Colin              1
Dug                1
Trip               1
Ralphson           1
Ralpher            1
Amélie             1
Fabio              1
Eve                1
Gordon             1
Tater              1
Benny              1
Rodney             1
Remy               1
Brutus             1
Hamrick            1
Pluto              1
Clybe              1
Cannon             1
Leela              1
Izzy               1
Noah               1
Skittle            1
Coopson            1
Shooter            1
Steve              1
Pawnd              1
Meera              1
Eevee              1
Apollo             1
Arnold             1
Mattie             1
Sparky             1
Sora               1
Taco               1
Alejandro          1
Lucky              1
Pippin             1
Reagan             1
Mauve              1
Roscoe             1
Chompsky           1
Noosh              1
Tyrone             1
Leonidas           1
Snicku             1
Ronnie             1
Bobbay             1
Gustav             1
Rooney             1
Hubertson          1
Griswold           1
Ginger             1
Timofy             1
William            1
Napolean           1
Maks               1
Chuck              1
Alf                1
Champ              1
Thor               1
Iroh               1
Peanut             1
DayZ               1
Sierra             1
Monty              1
Strider            1
Nimbus             1
Franq              1
Frönq              1
Barry              1
Dale               1
Mo                 1
Fido               1
Livvie             1
Tommy              1
Arlen              1
Grady              1
Kathmandu          1
Filup              1
Socks              1
Chubbs             1
Snoop              1
Harvey             1
Opie               1
Jeffri             1
Blakely            1
Rubio              1
Adele              1
Bell               1
Jackie             1
Nugget             1
Furzey             1
Ace                1
Augie              1
Tilly              1
Ralphie            1
Carper             1
Huck               1
Finnegus           1
Sobe               1
Jed                1
Birf               1
Jennifur           1
Lorelei            1
Chadrick           1
Bertson            1
Tom                1
Swagger            1
Stella             1
Ember              1
Trigger            1
Venti              1
Sid                1
Mike               1
Beckham            1
Enchilada          1
Tupawc             1
Maisey             1
Odin               1
Alexander          1
Combo              1
Norman             1
Walker             1
Kobe               1
Mark               1
Geoff              1
Josep              1
Kyro               1
Herb               1
Ole                1
Shadoe             1
Mya                1
Carbon             1
Chevy              1
Terrenth           1
Sweet              1
Richie             1
Banjo              1
Fiji               1
Baron              1
Keet               1
Cermet             1
Ralphus            1
Tanner             1
Pip                1
Ronduh             1
Ron                1
Chesterson         1
Blu                1
Saydee             1
Moreton            1
Aiden              1
Harper             1
Aldrick            1
Pete               1
Biden              1
Mac                1
Skye               1
Bilbo              1
Brat               1
Ricky              1
Tobi               1
Julio              1
Florence           1
Spanky             1
Shelby             1
Miguel             1
Berkeley           1
Kellogg            1
Pubert             1
Covach             1
Olaf               1
Jarvis             1
Moofasa            1
Todo               1
Ashleigh           1
Marvin             1
Freddery           1
Karl               1
Gin                1
Jonah              1
Pancake            1
Anna               1
Arlo               1
Lilly              1
Rumpole            1
Bruno              1
Timmy              1
Randall            1
Dawn               1
Fynn               1
Bobby              1
Barney             1
Cal                1
Rascal             1
Carter             1
Remus              1
Coleman            1
Vinnie             1
Bayley             1
Obie               1
Harry              1
Kial               1
Zeek               1
Kaiya              1
Vince              1
Angel              1
Jessiga            1
Cuddles            1
Longfellow         1
Ito                1
Crawford           1
Nollie             1
Kingsley           1
Hercules           1
Nida               1
Severus            1
Mutt               1
Lacy               1
Beemo              1
Mosby              1
Jo                 1
Staniel            1
Brudge             1
Murphy             1
Yoda               1
Stefan             1
Brandonald         1
Hector             1
Shnuggles          1
Samsom             1
Binky              1
Mingus             1
Rey                1
Crumpet            1
Ed                 1
Ivar               1
DonDon             1
Rinna              1
Alexanderson       1
Sage               1
Asher              1
Bodie              1
Deacon             1
Bloop              1
Dylan              1
Flash              1
Baloo              1
Quinn              1
Pipsy              1
Spencer            1
Lili               1
Bungalo            1
Bobb               1
Skittles           1
Christoper         1
Huxley             1
Schnitzel          1
Shikha             1
Simba              1
Gustaf             1
Jaspers            1
Chaz               1
Striker            1
Jarod              1
Sprout             1
Durg               1
Tuco               1
Ebby               1
Henry              1
Karll              1
Tove               1
Puff               1
Bruiser            1
Bradlay            1
Cecil              1
Kody               1
Snoopy             1
Vixen              1
Sailor             1
Eleanor            1
Kollin             1
Cheryl             1
Grey               1
Obi                1
Dobby              1
Batdog             1
Karma              1
Ruffles            1
Ziva               1
Timison            1
O                  1
Horace             1
Cupid              1
Tedders            1
Stark              1
Emmie              1
Edmund             1
Clarq              1
Jameson            1
Chelsea            1
Dex                1
Kara               1
Billl              1
Brownie            1
Farfle             1
Sonny              1
General            1
Tango              1
Strudel            1
Antony             1
Stormy             1
Butter             1
Gromit             1
Ralph              1
Travis             1
Rupert             1
Sephie             1
Willie             1
Tiger              1
Kuyu               1
Tessa              1
Brandi             1
Kane               1
Ulysses            1
Jeffrie            1
Harlso             1
Eugene             1
Tebow              1
Davey              1
Emma               1
Lolo               1
Lucia              1
Bauer              1
Duchess            1
Liam               1
Fwed               1
Carly              1
Acro               1
Pilot              1
Dietrich           1
Name: name, dtype: int64

观察数据，名字大致清洗完毕，想要更精确的结果，也许需要更多的人力成本

##### 6. timestamp table : 数据类型不正确

#### 定义：数据类型转换为时间类型

#### 代码：

In [51]:
df_copy['timestamp'] = pd.to_datetime(df_copy['timestamp'])

#### 测试：

In [52]:
df_copy['timestamp'].tail()

2112   2015-11-16 00:24:50+00:00
2113   2015-11-16 00:04:52+00:00
2114   2015-11-15 23:21:54+00:00
2115   2015-11-15 23:05:30+00:00
2116   2015-11-15 22:32:08+00:00
Name: timestamp, dtype: datetime64[ns, UTC]

经查看， 数据类型更改完毕

##### 7. 有时同一条数据中， 含有多个狗的地位数据， 正常情况下只能有doggo，floofer，pupper，puppo 中的一个

#### 定义： 找出同时有多个地位数据的行， 与文字栏对比，进行修改

#### 代码：

In [53]:
row_index = []
total_rows = df_copy.shape[0]

In [54]:
# 本函数, 输入行索引， 若同时出现多个地位， 将该行索引添加至一个列表内
def find_wrong_row_index(index):
    if (df_copy.loc[index, 'doggo']     == 'doggo'   and (df_copy.loc[index, 'floofer'] != 'None' or df_copy.loc[index, 'pupper'] != 'None' or df_copy.loc[index, 'puppo'] != 'None')):
        row_index.append(index)
    elif (df_copy.loc[index, 'floofer'] == 'floofer' and (df_copy.loc[index, 'doggo']   != 'None' or df_copy.loc[index, 'pupper'] != 'None' or df_copy.loc[index, 'puppo'] != 'None')):
        row_index.append(index)
    elif (df_copy.loc[index, 'pupper']  == 'pupper'  and (df_copy.loc[index, 'floofer'] != 'None' or df_copy.loc[index, 'doggo']  != 'None' or df_copy.loc[index, 'puppo'] != 'None')):
        row_index.append(index)
    elif (df_copy.loc[index, 'puppo']   == 'puppo'   and (df_copy.loc[index, 'floofer'] != 'None' or df_copy.loc[index, 'pupper'] != 'None' or df_copy.loc[index, 'doggo'] != 'None')):
        row_index.append(index)

In [55]:
# 本函数遍历df_copy的每一行, 找出有问题的行索引
def get_row_index():
    global row_index
    row_index = []
    for index in range(total_rows):
        find_wrong_row_index(index)

In [56]:
get_row_index()
row_index

[156, 163, 360, 418, 443, 449, 539, 564, 691, 750, 852, 901]

In [57]:
df_copy[['text', 'name', 'doggo', 'floofer', 'pupper', 'puppo']].loc[row_index]

,text,name,doggo,floofer,pupper,puppo
156,Here's a puppo participating in the #ScienceMarch. Cleverly disguising her own doggo agenda. 13/10 would keep the planet habitable for https://t.c...,NaN,doggo,None,None,puppo
163,"At first I thought this was a shy doggo, but it's actually a Rare Canadian Floofer Owl. Amateurs would confuse the two. 11/10 only send dogs https...",NaN,doggo,floofer,None,None
360,"This is Dido. She's playing the lead role in ""Pupper Stops to Catch Snow Before Resuming Shadow Box with Dried Apple."" 13/10 (IG: didodoggo) https...",Dido,doggo,None,pupper,None
418,Here we have Burke (pupper) and Dexter (doggo). Pupper wants to be exactly like doggo. Both 12/10 would pet at same time https://t.co/ANBpEYHaho,NaN,doggo,None,pupper,None
443,"Like doggo, like pupper version 2. Both 11/10 https://t.co/9IxWAXFqze",NaN,doggo,None,pupper,None
449,This is Bones. He's being haunted by another doggo of roughly the same size. 12/10 deep breaths pupper everything's fine https://t.co/55Dqe0SJNj,Bones,doggo,None,pupper,None
539,This is Pinot. He's a sophisticated doggo. You can tell by the hat. Also pointier than your average pupper. Still 10/10 would pet cautiously https...,Pinot,doggo,None,pupper,None
564,"Pupper butt 1, Doggo 0. Both 12/10 https://t.co/WQvcPEpH2u",NaN,doggo,None,pupper,None
691,"Meet Maggie &amp; Lila. Maggie is the doggo, Lila is the pupper. They are sisters. Both 12/10 would pet at the same time https://t.co/MYwR4DQKll",Maggie,doggo,None,pupper,None
750,Please stop sending it pictures that don't even have a doggo or pupper in them. Churlish af. 5/10 neat couch tho https://t.co/u2c9c7qSg8,NaN,doggo,None,pupper,None
852,This is just downright precious af. 12/10 for both pupper and doggo https://t.co/o5J479bZUC,NaN,doggo,None,pupper,None
901,"Like father (doggo), like son (pupper). Both 12/10 https://t.co/pG2inLaOda",NaN,doggo,None,pupper,None

查看该表格， 对比text的内容， 将错误的狗地位栏手动修正过来

In [58]:
df_copy.loc[156, 'doggo']   = 'None'
df_copy.loc[163, 'doggo']   = 'None'
df_copy.loc[163, 'floofer'] = 'None'
df_copy.loc[360, 'doggo']   = 'None'
df_copy.loc[449, 'doggo']   = 'None'
df_copy.loc[539, 'pupper']  = 'None'
df_copy.loc[750, 'doggo']   = 'None'
df_copy.loc[750, 'pupper']  = 'None'

#### 测试：此时再用一下函数找出同时含有多个地位数据的行，进行查看

In [59]:
get_row_index()
row_index

[418, 443, 564, 691, 852, 901]

In [60]:
df_copy[['text', 'name', 'doggo', 'floofer', 'pupper', 'puppo']].loc[row_index]

,text,name,doggo,floofer,pupper,puppo
418,Here we have Burke (pupper) and Dexter (doggo). Pupper wants to be exactly like doggo. Both 12/10 would pet at same time https://t.co/ANBpEYHaho,NaN,doggo,None,pupper,None
443,"Like doggo, like pupper version 2. Both 11/10 https://t.co/9IxWAXFqze",NaN,doggo,None,pupper,None
564,"Pupper butt 1, Doggo 0. Both 12/10 https://t.co/WQvcPEpH2u",NaN,doggo,None,pupper,None
691,"Meet Maggie &amp; Lila. Maggie is the doggo, Lila is the pupper. They are sisters. Both 12/10 would pet at the same time https://t.co/MYwR4DQKll",Maggie,doggo,None,pupper,None
852,This is just downright precious af. 12/10 for both pupper and doggo https://t.co/o5J479bZUC,NaN,doggo,None,pupper,None
901,"Like father (doggo), like son (pupper). Both 12/10 https://t.co/pG2inLaOda",NaN,doggo,None,pupper,None

经过修改,我们已经整理好一部分错误的行,<br/>
其余的行,由于文字里包含了两个狗狗的图片导致地位栏也有两个地位,无法修改.<br/>
此时,狗地位数据的质量问题已经清洗完毕

##### 8.我们需要将预测结果不是狗的数据删除，且p1的预测概率远远大于p2和p3, 含有p2,p3的数据列也需要删除

#### 定义：

#### 代码：

#### 测试：

##### 数据整洁度问题

##### 1. 推特数据中，doggo，floofer，pupper，puppo栏应当删掉，建立新的地位栏，并填入相应数据

#### 定义：遍历每一行，提取出地位数据并添加到新的status列中，并删去原有的doggo等四列

#### 代码：

In [63]:
# 新建一列数据
df_copy['status'] = 'None'

In [68]:
# 通过遍历每一行， 找出该行狗的地位的名字， 并赋值给该行与status列所定位的位置
def dogs_status():
    for row in range(total_rows):
        if df_copy.loc[row, 'doggo']     != 'None':
            df_copy.loc[row, 'status']   = df_copy.loc[row, 'doggo']
        elif df_copy.loc[row, 'floofer'] != 'None':
            df_copy.loc[row, 'status']   = df_copy.loc[row, 'floofer']
        elif df_copy.loc[row, 'pupper']  != 'None':
            df_copy.loc[row, 'status']   = df_copy.loc[row, 'pupper']
        elif df_copy.loc[row, 'puppo']   != 'None':
            df_copy.loc[row, 'status']   = df_copy.loc[row, 'puppo']

dogs_status()

同时从质量问题8中我们知道， 由于个别的行文字里包含了两个狗狗的图片，导致地位栏也有两个地位， 我们通过手动进行修改

In [69]:
get_row_index()
row_index

[418, 443, 564, 691, 852, 901]

In [70]:
df_copy.loc[418, 'status'] = 'doggo & pupper'
df_copy.loc[443, 'status'] = 'doggo & pupper'
df_copy.loc[564, 'status'] = 'doggo & pupper'
df_copy.loc[691, 'status'] = 'doggo & pupper'
df_copy.loc[852, 'status'] = 'doggo & pupper'
df_copy.loc[901, 'status'] = 'doggo & pupper'

In [72]:
df_copy.drop(['doggo', 'floofer', 'pupper', 'puppo'], axis = 1, inplace = True)

#### 测试：

In [78]:
df_copy['status'].value_counts()

None              1781
pupper             224
doggo               73
puppo               24
floofer              9
doggo & pupper       6
Name: status, dtype: int64

In [79]:
df_copy.sample(5)

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,status
2007,667902449697558528,2015-11-21 03:08:47+00:00,Twitter for iPhone,This is Cleopatricia. She is a northern Paperback Maple. Set up hammock somehow. 9/10 would chill in hammock with https://t.co/sJeHdGUt0W,https://twitter.com/dog_rates/status/667902449697558528/photo/1,9.0,10.0,Cleopatricia,None
1832,671147085991960577,2015-11-30 02:01:49+00:00,Twitter for iPhone,This is a Helvetica Listerine named Rufus. This time Rufus will be ready for the UPS guy. He'll never expect it 9/10 https://t.co/34OhVhMkVr,https://twitter.com/dog_rates/status/671147085991960577/photo/1,9.0,10.0,NaN,None
1978,668544745690562560,2015-11-22 21:41:02+00:00,Twitter for iPhone,It is an honor to rate this pup. He is a Snorklhuahua from Amarillo. A true renaissance dog. Also part Rudolph 10/10 https://t.co/ALNyYuGui7,https://twitter.com/dog_rates/status/668544745690562560/photo/1,10.0,10.0,NaN,None
1091,707387676719185920,2016-03-09 02:08:59+00:00,Twitter for iPhone,Meet Clarkus. He's a Skinny Eastern Worcestershire. Can tie own shoes (impressive af) 10/10 would put on track team https://t.co/XP5o7zGn0E,https://twitter.com/dog_rates/status/707387676719185920/photo/1,10.0,10.0,Clarkus,None
329,822610361945911296,2017-01-21 01:02:48+00:00,Twitter for iPhone,Please stop sending in non-canines like this Very Pettable Dozing Bath Tortoise. We only rate dogs. Only send dogs... 12/10 https://t.co/mcagPeENIh,https://twitter.com/dog_rates/status/822610361945911296/photo/1,12.0,10.0,NaN,None

由于status这样的列，可能一行数据中包含了不只一个值，故将这一列中的多个值进行拆分，形成多行数据<br/>
虽然这样可能会产生tweet_id的重复项，但是这个拆分后的新数据集，却可以单独用来分析地位相关的聚合统计

##### 2.补充数据中的两个计数栏可以合并到推特数据中.

In [ ]:
df_copy.info()

In [ ]:
img_predictions_copy.info()

In [ ]:
df_extra_copy.info()

In [ ]:
df_copy['tweet_id'].duplicated().sum()

In [ ]:
df_extra_copy['tweet_id'].duplicated().sum()

In [ ]:
img_predictions_copy['tweet_id'].duplicated().sum()

In [ ]:
newframe = pd.merge(df_copy,df_extra_copy,on='tweet_id',how='outer')

In [ ]:
newframe_update = pd.merge(newframe, img_predictions_copy,on='tweet_id',how='outer')

In [ ]:
newframe_update.info()

In [ ]:
#newframe_update.fillna('None', inplace = True)

In [ ]:
newframe_update.sample()

In [ ]:
expect_file = 'twitter_archive_master.csv'

In [ ]:
if not os.path.exists(expect_file):
    newframe_update.to_csv(expect_file, index=False)

##### 此时，我们已经完成了基本的数据清洗，将所有的数据保存至twitter_archive_master.csv文件内

### 数据分析

#### 提出问题

1. 在一天中的哪个时段，发推文的用户比较多？
2. 哪些种类的狗狗获得了较高的转发数？ 
3. 得到了高评分的狗狗得到的转发数就一定多吗？
4. 数据中狗狗评分的高低和所处于的地位有什么关系？

#### 探索性分析

In [ ]:
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df_updates = pd.read_csv(expect_file)

In [ ]:
df_updates_copy = df_updates.copy()

In [ ]:
df_updates_copy.info()

##### 1.在一天中的哪个时段，发推文的用户比较多？

In [ ]:
df_updates_copy['timestamp'] = pd.to_datetime(df_updates_copy['timestamp'])

In [ ]:
df_updates_copy['timestamp'].tail()

In [ ]:
df_updates_copy['hour'] = df_updates_copy['timestamp'].dt.hour

In [ ]:
df_updates_copy[['hour']].info()

In [ ]:
df_updates_copy['hour'].value_counts().sort_index(axis=0, ascending=True)

In [ ]:
df_updates_copy['hour'].value_counts().sort_index(axis=0, ascending=True).plot(kind = 'bar')
plt.ylabel('counts', fontsize = 15)
plt.xlabel('hour', fontsize = 15)

从图中我们可以看出， 凌晨时段和下午傍晚时段， 发推特的用户比较多

##### 2.哪些种类的狗狗获得了较高的转发数？

经过观察，p1的预测概率远远大于p2和p3, 所以我们将含有p2,p3的数据删除

In [ ]:
df_updates_copy.drop(['p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'], axis=1, inplace=True)

其次，我们将预测结果不是狗的数据删除

In [ ]:
data_to_delete_index = df_updates_copy[df_updates_copy['p1_dog'] != 'True'].index

In [ ]:
df_updates_copy.drop(index = data_to_delete_index, inplace = True)

In [ ]:
df_updates_copy['p1_dog'].value_counts()

retweet_count栏含有空数据，删除后转换为float类型

In [ ]:
df_updates_copy[df_updates_copy['retweet_count'] == 'None']

In [ ]:
df_updates_copy.drop(index=[19], inplace = True)

In [ ]:
df_updates_copy['retweet_count'] = df_updates_copy['retweet_count'].astype(float)

In [ ]:
df_updates_copy[['retweet_count']].info()

In [ ]:
df_updates_copy = df_updates_copy.reset_index(drop = True)

In [ ]:
temporary_1 = df_updates_copy[['retweet_count', 'p1']]

In [ ]:
temporary_1.groupby('p1').sum().sort_values(by = 'retweet_count', ascending = False).plot(kind = 'bar', figsize=(20,10))
plt.ylabel('counts', fontsize = 15)
plt.xlabel('dog_type', fontsize = 15)

In [ ]:
temporary_1.groupby('p1').sum().sort_values(by = 'retweet_count', ascending = False)

我们可以看到golden_retriever比较受欢迎， 得到了最多的转发数

##### 3.得到了高评分的狗狗得到的转发数就一定多吗？

In [ ]:
df_updates_copy['rating_denominator'].value_counts()

In [ ]:
df_updates_copy[df_updates_copy['rating_denominator'] == 0.0]

In [ ]:
df_updates_copy['rates_final'] = df_updates_copy['rating_numerator'] / df_updates_copy['rating_denominator']

In [ ]:
df_updates_copy['rates_final'] = df_updates_copy['rates_final'].round(3)

In [ ]:
# 由于数据中存在一列 分子分母皆为0的情况，我们对该数据进行处理
df_updates_copy['rates_final'].fillna(0, inplace = True)

In [ ]:
df_updates_copy[['rates_final']].info()

In [ ]:
temporary_2 = df_updates_copy[['retweet_count', 'rates_final']]

In [ ]:
temporary_2.groupby('rates_final').mean().sort_index(ascending = False)

In [ ]:
temporary_2.groupby('rates_final').mean().sort_index(ascending = False).plot(kind = 'bar', figsize=(20,6))
plt.ylabel('average_retwwet_counts', fontsize = 20)
plt.xlabel('dog_rates', fontsize = 20)

从图中观察，我们发现总体上，评分高的狗狗得到的相应多的转发数

##### 4. 数据中狗狗评分的高低和所处于的地位有什么关系？

In [ ]:
df_updates_copy['status'].value_counts()

In [ ]:
data_to_delete_index2 = df_updates_copy[df_updates_copy['status'] == 'None'].index

In [ ]:
df_updates_copy.drop(index = data_to_delete_index2, inplace = True)

In [ ]:
temporary_3 = df_updates_copy[['status', 'rates_final']]

In [ ]:
temporary_3

In [ ]:
temporary_3.groupby('rates_final')['status'].value_counts()

In [ ]:
size=temporary_3.groupby('rates_final')['status'].value_counts()
n=20

In [ ]:
plt.figure(figsize=(12,8))
plt.xlabel('rates_final',fontsize= 15)
plt.ylabel('status',fontsize= 15)
plt.scatter(df_updates_copy['rates_final'],df_updates_copy['status'],s=size*n,alpha=0.6)
plt.show()

观察数据发现，数据中狗狗评分的高低和所处于的地位关系不大，评分中的地位大多被pupper和doggo占据,评分高的狗狗，处于doggo地位更多。

#### 得出结论

1. 在一天中的哪个时段，发推文的用户比较多？   
    凌晨时段和下午傍晚时段。

2. 哪些种类的狗狗获得了较高的转发数？        
    golden_retriever得到了最多的转发数。

3. 得到了高评分的狗狗得到的转发数就一定多吗？<br/> 
    总体上，评分高的狗狗得到的相应多的转发数。

4. 数据中狗狗评分的高低和所处于的地位有什么关系？<br/>
    关系不大，评分中的地位大多被pupper和doggo占据，评分高的狗狗，处于doggo地位更多。